{% load static %}
<section class="classes-section">
    <div class="container">
      <div class="sec-title">
        <h2>Our Classes</h2>
        <p>
          Welcome to our vibrant learning community at Codins ! Step into our innovative classrooms where creativity meets technology. Explore a diverse range of courses designed to empower you with the skills and knowledge needed to thrive in today's digital age.
        </p>
      </div>
      <!--sec-title end-->
      <div class="classes-sec">
        <div class="row classes-carousel">
          <div class="col-lg-3">
            <div
              class="classes-col wow fadeInUp"
              data-wow-duration="1000ms"
            >
              <div class="class-thumb">
                <img src="{% static 'assets/img/163260.jpg' %}" alt="" class="w-100" />
                <a href="{% url 'contact' %}" title="" class="crt-btn"
                  ><img src="{% static 'assets/img/icon10.png' %}" alt=""
                /></a>
              </div>
              <div class="class-info">
                <h3>
                  <a href="{% url 'contact' %}" title=""
                    >Web Development</a
                  >
                </h3>
                <!-- <span>Mon-Fri</span> <span>10 AM - 12 AM</span> -->
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <div class="posted-by">
                    <img src="{% static 'assets/img/ico.png' %}" alt="" />
                    <a href="#" title="">Amanda Kern</a>
                  </div> -->
                  <strong class="price">₦150,000</strong>
                </div>
              </div>
            </div>
            <!--classes-col end-->
          </div>
          <div class="col-lg-3">
            <div
              class="classes-col wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="200ms"
            >
              <div class="class-thumb">
                <img src="{% static 'assets/img/Python-good-for-machine-learning.webp' %}" alt="" class="w-100" />
                <a href="{% url 'contact' %}" title="" class="crt-btn"
                  ><img src="{% static 'assets/img/icon10.png' %}" alt=""
                /></a>
              </div>
              <div class="class-info">
                <h3>
                  <a href="{% url 'contact' %}" title=""
                    >Python programming Language</a
                  >
                </h3>
                <!-- <span>Mon-Fri</span> <span>10 AM - 12 AM</span> -->
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <div class="posted-by">
                    <img src="{% static 'assets/img/ico.png' %}" alt="" />
                    <a href="#" title="">Gypsy Hardinge</a>
                  </div> -->
                  <strong class="price">₦100,000</strong>
                </div>
              </div>
            </div>
            <!--classes-col end-->
          </div>
          <div class="col-lg-3">
            <div
              class="classes-col wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="400ms"
            >
              <div class="class-thumb">
                <img src="{% static 'assets/img/75857.jpg' %}" alt="" class="w-100" />
                <a href="{% url 'contact' %}" title="" class="crt-btn"
                  ><img src="{% static 'assets/img/icon10.png' %}" alt=""
                /></a>
              </div>
              <div class="class-info">
                <h3>
                  <a href="{% url 'contact' %}" title=""
                    >Data Science</a
                  >
                </h3>
                <!-- <span>Mon-Fri</span> <span>10 AM - 12 AM</span> -->
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <div class="posted-by">
                    <img src="{% static 'assets/img/ico.png' %}" alt="" />
                    <a href="#" title="">Margje Jutten</a>
                  </div> -->
                  <strong class="price">₦200,000</strong>
                </div>
              </div>
            </div>
            <!--classes-col end-->
          </div>
          <div class="col-lg-3">
            <div
              class="classes-col wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="600ms"
            >
              <div class="class-thumb">
                <img src="{% static 'assets/img/95296.jpg' %}" alt="" class="w-100" />
                <a href="{% url 'contact' %}" title="" class="crt-btn"
                  ><img src="{% static 'assets/img/icon10.png' %}" alt=""
                /></a>
              </div>
              <div class="class-info">
                <h3>
                  <a href="{% url 'contact' %}" title=""
                    >Data Analysis</a
                  >
                </h3>
                <!-- <span>Mon-Fri</span> <span>10 AM - 12 AM</span> -->
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <div class="posted-by">
                    <img src="{% static 'assets/img/ico.png' %}" alt="" />
                    <a href="#" title="">Hubert Franck</a>
                  </div> -->
                  <strong class="price">₦120,000</strong>
                </div>
              </div>
            </div>
            <!--classes-col end-->
          </div>
          <div class="col-lg-3">
            <div class="classes-col">
              <div class="class-thumb">
                <img src="{% static 'assets/img/26239.jpg' %}" alt="" class="w-100" />
                <a href="{% url 'contact' %}" title="" class="crt-btn"
                  ><img src="{% static 'assets/img/icon10.png' %}" alt=""
                /></a>
              </div>
              <div class="class-info">
                <h3>
                  <a href="{% url 'contact' %}" title=""
                    >Cybersecurity</a
                  >
                </h3>
                <!-- <span>Mon-Fri</span> <span>10 AM - 12 AM</span> -->
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <div class="posted-by">
                    <img src="{% static 'assets/img/ico.png' %}" alt="" />
                    <a href="#" title="">Amanda Kern</a>
                  </div> -->
                  <strong class="price">₦155,000</strong>
                </div>
              </div>
            </div>
            <!--classes-col end-->
          </div>
          <div class="col-lg-3">
            <div class="classes-col">
              <div class="class-thumb">
                <img src="{% static 'assets/img/puff-Daniel-Leżuch-Unsplash.webp' %}" alt="" class="w-100" />
                <a href="{% url 'contact' %}" title="" class="crt-btn"
                  ><img src="{% static 'assets/img/icon10.png' %}" alt=""
                /></a>
              </div>
              <div class="class-info">
                <h3>
                  <a href="{% url 'contact' %}" title=""
                    >Video Editing</a
                  >
                </h3>
                <!-- <span>Mon-Fri</span> <span>10 AM - 12 AM</span> -->
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <div class="posted-by">
                    <img src="{% static 'assets/img/ico.png' %}" alt="" />
                    <a href="#" title="">Gypsy Hardinge</a>
                  </div> -->
                  <strong class="price">₦120,000</strong>
                </div>
              </div>
            </div>
            <!--classes-col end-->
          </div>
          <div class="col-lg-3">
            <div class="classes-col">
              <div class="class-thumb">
                <img src="{% static 'assets/img/1695524296879.jpeg' %}" alt="" class="w-100" />
                <a href="{% url 'contact' %}" title="" class="crt-btn"
                  ><img src="{% static 'assets/img/icon10.png' %}" alt=""
                /></a>
              </div>
              <div class="class-info">
                <h3>
                  <a href="{% url 'contact' %}" title=""
                    >Graphic Designer</a
                  >
                </h3>
                <!-- <span>Mon-Fri</span> <span>10 AM - 12 AM</span> -->
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <div class="posted-by">
                    <img src="{% static 'assets/img/ico.png' %}" alt="" />
                    <a href="#" title="">Margje Jutten</a>
                  </div> -->
                  <strong class="price">₦80,000</strong>
                </div>
              </div>
            </div>
            <!--classes-col end-->
          </div>
          <div class="col-lg-3">
            <div class="classes-col">
              <div class="class-thumb">
                <img src="{% static 'assets/img/istockphoto-1346575545-170667a.jpg' %}" alt="" class="w-100" />
                <a href="{% url 'contact' %}" title="" class="crt-btn"
                  ><img src="{% static 'assets/img/icon10.png' %}" alt=""
                /></a>
              </div>
              <div class="class-info">
                <h3>
                  <a href="{% url 'contact' %}" title=""
                    >Social Media Management</a
                  >
                </h3>
                <!-- <span>Mon-Fri</span> <span>10 AM - 12 AM</span> -->
                <div class="d-flex flex-wrap align-items-center">
                  <!-- <div class="posted-by">
                    <img src="{% static 'assets/img/ico.png' %}" alt="" />
                    <a href="#" title="">Hubert Franck</a>
                  </div> -->
                  <strong class="price">₦80,000</strong>
                </div>
              </div>
            </div>
            <!--classes-col end-->
          </div>
        </div>
        <div class="lnk-dv text-center">
          <a href="{% url 'contact' %}" title="" class="btn-default"
            >Classes <i class="fa fa-long-arrow-alt-right"></i
          ></a>
        </div>
      </div>
      <!--classes-sec end-->
    </div>
  </section>
  <!--classes-section end-->